# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Data
data/raw/
data/processed/
*.csv
*.xlsx
*.json

# Environment
.env

# PostgreSQL / local files
*.dump
*.backup

# Power BI
reports/powerbi/*.pbix

# OS / IDE
.DS_Store
.vscode/
.idea/